
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Master_Layout.cshtml";
}

<h2>Show</h2>

<p>Bạn tạo tài khoản thành công</p>
<a href="@Url.Action("ShowCart","ShoppingCart")">Quay trở lại giỏ hàng</a>